{{#each comentariosV}}
<div class="container">
    <hr data-brackets-id="12673">
    <ul data-brackets-id="12674" id="sortable" class="list-unstyled ui-sortable">

      <small class="pull-right text-muted">
        <strong class="pull-left primary-font">Usuario: {{usuario_id}}</strong>
           <span class="glyphicon glyphicon-time"></span>ID(coment): {{id_comentario}}
           <span class="glyphicon glyphicon-time"></span>ID(item): {{id_item}}
        <li class="ui-state-default">{{texto}}
      </small>
    </ul>
    </div>
</div>
{{/each}}
